Yo its the dashboard

<form ng-submit="addSwitch()">
  <label>IP address:</label>
  <input type="text" ng-model="newSwitch.ipaddress"><br>
  <label>User Name:</label>
  <input type="text" ng-model="newSwitch.user_name"><br>
  <label>Switch  SSH Password:<label>
  <input type="text" ng-model="newSwitch.switch_password"><br>
  <label>Switch Enable Password:<label>
  <input type="text" ng-model="newSwitch.community"><br>
  <label>Switch Community Password:<label>
  <input type="text" ng-model="newSwitch.enable_password"><br>
  <input type="submit" value="Add Switch">
</form>

<table>
  <tr>
    <th></th>
    <th>Status</th>
    <th>Name</th>
    <th>Alerts</th>
    <th>Contacted At</th>
    <th>Active Port</th>
    <th>Uptime</th>
  </tr>
  <tr ng-repeat="switch in switches">
    <td></td>
    <td>TODO</td>
    <td>{{switch.name}}</td>
    <td></td>
    <td>{{switch.contacted_at}}</td>
    <td>{{switch.activePorts}} / {{switch.totalPorts}}</td>
    <td>{{switch.upTime}}</td>
  </tr>
</table>
{{switches}}
