
@import "materialize";
#header {
	height: 100px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
	overflow: hidden;
	font-family: Fredoka One;
	h2 p{
		display: inline-block;
	}

}
#main, #footer {
    padding-left: 200px;
    margin-top: 10px;
}

.offset_nav_top {
  margin-top: 100px;
}

.side-nav {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
	li{
	border-bottom: 1px solid #d9d9d9;
	&:first-child{
		border-top: 1px solid #d9d9d9;
		}
	}
}
.headingme {
	border-bottom: 1px solid black;
}