/*
*= require_tree .
*= require_tree ../../../vendor/assets/bower_components/.
*/
.work {
  position: relative;
  height: 93vh; }

.tables {
  border: 1px solid gainsboro;
  border-radius: 70px;
  border-spacing: 0;
  width: 100%; }
  .tables tbody {
    background-color: #fbfbfb; }
    .tables tbody tr:hover > td, .tables tbody tr:hover > th {
      background-color: #eeeeee; }
    .tables tbody tr:nth-child(even) {
      background-color: #f6f6f6; }
      .tables tbody tr:nth-child(even):hover > td {
        background-color: #e9e9e9; }
  .tables thead th {
    background-color: white;
    border-bottom: 0;
    border-left: 1px solid gainsboro;
    padding: 0.75em 1em;
    text-align: left; }
    .tables thead th:first-child {
      width: 10em;
      text-align: center; }
    .tables thead th:nth-child(5) {
      text-align: right; }
    .tables thead th:last-child {
      text-align: center; }
  .tables tbody {
    background-color: #fbfbfb; }
    .tables tbody td {
      border-left: 1px solid gainsboro;
      border-top: 1px solid gainsboro;
      padding: 0.75em 1em; }
      .tables tbody td:first-child {
        text-align: center; }
      .tables tbody td:nth-child(5) {
        text-align: right; }
      .tables tbody td:last-child {
        text-align: center; }
