/*
*= require_tree .
*= require_tree ../../../vendor/assets/bower_components/.
*/
* {
  font-family:"Open Sans";
}
.text-color {
  color:#1a3365;
}

.side-nav {
  font-size: 1.7em;
  letter-spacing: .5px;
  color: black;
}

.title {
  font-weight: bold;
}

.login {
  width: 30%;
  padding: 5em;
  margin: auto;
  h1,form {
    padding: 0;
    margin: 0 0 .5em 0;
  }
  md-button {
    float: right;
  }
  a {
  
  text-decoration: underline;}

}
.container {
  height: 97%;
}
.switch-body {
  border: solid black 1px;
  width: 30em;
  margin-left: 1em;
  border-radius: 4px;
}
.chasis {
  margin: 6px;
  &:first-child {
    margin-left: 1em;
  }
}
.port {
  $base-size: 30px;
  font-size: 0;
  border: solid black 1px;
  margin-bottom:3px;
  padding:3px;

  #small-piece {
    width:(.38 * $base-size);
    height: ($base-size /10.7);
    background-color:black;
    margin: auto;
  }

  #medium-piece {
    width:(.61*$base-size);
    height: ($base-size / 11);
    background-color:black;
    margin: auto;
  }

  #large-piece {
    width:$base-size;
    height:($base-size * 1.03);
    background-color:black;
    margin: auto;
    border-radius: ($base-size/44);
  }
}

md-divider {
  margin-bottom: .3em;
}

.subhead {
  margin-left: 3px;
  margin-bottom: 0px;
}

.breadcrumb {
  table-layout: auto;
  margin: 1em 0 0 0;

  a {
    text-decoration: underline;
  }

  td {
    border: none;
    padding: 0 0 .5em 0;

    #chev-right {
      font-size: 14px;
      height: 14px;
      width: 14px;
    }
  }

  h2 {
    margin: -.3em 0 0 .1em;
    //margin: 0px;
  }
  h2,md-icon {
    padding: 0px;
    display: inline-block;
  }
}

.title-line {
  margin: 0px;
}

.section-table {
  table-layout:fixed;
  word-wrap:break-word;
  tr {
    td {
      padding: 0 1em .4em 0;
      border-bottom: none;
      
      a {
        text-align: left;
        text-decoration: underline;;
      }

      &:first-child {
        text-align: left;
        word-wrap:normal;
      }

      &:nth-child(odd) {
        width: 11.4em;
        text-align: right;
      }

      &:nth-child(even){
        padding: 0 0 .4em 0;
        margin-left: 1em
      }
    }

    h2 {
      margin: 0px;
      text-align: left;
      margin-left: .3em;
      padding: 0px;
    }
    .action {
      margin-left: 7em;
      .md-button {
        margin-left: 0em;
      }
    }
  }

  #note-area {
    width: 20em;
  }

  #h-line {
    padding-right: 23em;
  }
}

.switch-name {
  letter-spacing: .5px;
  font-weight:bold;
}

.info-table {
  $base-border-color: gainsboro !default;
  $base-border-radius: 70px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: lighten($table-border-color, 12%);
  $table-header-background: lighten($table-background, 10%);
  $table-hover-background: darken($table-background, 5%);
  $table-stripe-background: darken($table-background, 2%);
  $table-stripe-background-hover: darken($table-stripe-background, 5%);
  $table-padding: 0.75em 1em;

  border: $table-border;
  border-radius: $base-border-radius;
  border-spacing: 0;
  width: 100%;

  tbody {
    background-color: $table-background;

    tr:hover > td, tr:hover > th {
      background-color: $table-hover-background;
    }
    tr:nth-child(even) {
      background-color: $table-stripe-background;
      &:hover > td {
        background-color: $table-stripe-background-hover;
      }
    }
  }

  thead {
    th {
      background-color: $table-header-background;
      border-bottom: 0;
      border-left: 1px solid $table-border-color;
      padding: $table-padding;
      text-align: left;

      &:first-child {
        width: 10em;
        text-align: center;
      }
      &:nth-child(5) {
        text-align: right;
      }

      &:last-child {
        text-align: center
      }
    }
  }


  tbody {
    background-color: $table-background;

    td {
      border-left: 1px solid $table-border-color;
      border-top: 1px solid $table-border-color;
      padding: $table-padding;

      &:first-child {
        text-align: center;
      }

      &:nth-child(5) {
        text-align: right;
      }
      &:last-child {
        text-align: center
      }
    }
  }
}

.switch-model {
  margin-top: 1em;
}
