/*
*= require_tree .
*= require_tree ../../../vendor/assets/bower_components/.
*/

.work {
  position:relative;
  height:93vh;
}

.tables {
  $base-border-color: gainsboro !default;
  $base-border-radius: 70px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: lighten($table-border-color, 12%);
  $table-header-background: lighten($table-background, 10%);
  $table-hover-background: darken($table-background, 5%);
  $table-stripe-background: darken($table-background, 2%);
  $table-stripe-background-hover: darken($table-stripe-background, 5%);
  $table-padding: 0.75em 1em;

  border: $table-border;
  border-radius: $base-border-radius;
  border-spacing: 0;
  width: 100%;

  tbody {
    background-color: $table-background;

    tr:hover > td, tr:hover > th {
      background-color: $table-hover-background;
    }
    tr:nth-child(even) {
      background-color: $table-stripe-background;
      &:hover > td {
        background-color: $table-stripe-background-hover;
      }
    }
  }

  thead {
    th {
      background-color: $table-header-background;
      border-bottom: 0;
      border-left: 1px solid $table-border-color;
      padding: $table-padding;
      text-align: left;

      &:first-child {
        width: 10em;
        text-align: center;
      }
      &:nth-child(5) {
        text-align: right;
      }

      &:last-child {
        text-align: center
      }
    }
  }


  tbody {
    background-color: $table-background;

    td {
      border-left: 1px solid $table-border-color;
      border-top: 1px solid $table-border-color;
      padding: $table-padding;

      &:first-child {
        text-align: center;
      }

      &:nth-child(5) {
        text-align: right;
      }
      &:last-child {
        text-align: center
      }
    }
  }
}

//.breadcrumb {
  //$base-border-color: gainsboro !default;
  //$base-border-radius: 3px !default;
  //$base-background-color: white !default;
  //$base-spacing: 1.5em !default;
  //$action-color: #477DCA !default;
  //$medium-gray: #999 !default;
  //$light-gray: #DDD !default;
  //$medium-screen: 40em !default;
  //$breadcrumb-border-color: $base-border-color;
  //$breadcrumb-border: 1px solid $breadcrumb-border-color;
  //$breadcrumb-height: $base-spacing * 1.5;
  //$breadcrumb-arrow-color: $breadcrumb-border-color;
  //$breadcrumb-background: $base-background-color;
  //$breadcrumb-inactive-hover-color: $breadcrumb-background;
  //$breadcrumb-color: $medium-gray;
  //$breadcrumb-color-hover: $action-color;
  //$breadcrumb-color-active: $breadcrumb-color;

  //display: inline-block;
  //margin-bottom: $base-spacing;
  //text-align: left;

  //a {
    //background-color: $breadcrumb-background;
    //border: $breadcrumb-border;
    //border-left: 0;
    //color: $breadcrumb-color;
    //display: inline-block;
    //font-size: 0.8em;
    //line-height: $breadcrumb-height;
    //margin-bottom: 2px;
    //margin-right: -5px;
    //padding: 0 ($breadcrumb-height / 4) 0 ($breadcrumb-height / 2);
    //position: relative;
    //text-decoration: none;

    //&:first-child {
      //border-bottom-left-radius: $base-border-radius;
      //border-left: $breadcrumb-border;
      //border-top-left-radius: $base-border-radius;
      //padding-left: $breadcrumb-height / 2;
    //}

    //&:last-child {
      //background-color: $breadcrumb-background;
      //border-bottom-right-radius: $base-border-radius;
      //border-top-right-radius: $base-border-radius;
      //color: $breadcrumb-color-active;
      //padding-right: $breadcrumb-height / 2;
    //}

    //&:focus,
    //&:hover {
      //background-color: $breadcrumb-inactive-hover-color;
      //color: $breadcrumb-color-hover;
    //}

    //&::after,
    //&::before {
      //@include position(absolute, 0 auto 0 100%);
      //border-bottom: $breadcrumb-height / 2 solid transparent;
      //border-left: $breadcrumb-height / 4 solid transparent;
      //border-top: $breadcrumb-height / 2 solid transparent;
      //content: "";
      //display: block;
      //margin: auto;
      //z-index: 2;
    //}

    //&:last-child::after,
    //&:last-child::before {
       //border: 0;
     //}
 
     //&::before {
       //border-left-color: $breadcrumb-arrow-color;
       //margin-left: 1px;
       //z-index: 1;
     //}
 
     //&::after {
       //border-left-color: $breadcrumb-background;
     //}
 
     //@include media($medium-screen) {
       //font-size: 1em;
       //padding: 0 ($breadcrumb-height / 2) 0 ($breadcrumb-height / 1.5);
     //}
   //}
 //}
