<div layout="row" layout-align="end end">
    <h2 class="md-title">Switches</h2>
  <span flex></span>
    
    <md-button class="md-primary md-raised md-block" ng-click="showAdvanced($event)" >
      Add Switch
    </md-button>
</div>

<table class="tables">
  <tr>
    <thead>
      <th>Status</th>
      <th>Name</th>
      <th>Alerts</th>
      <th>Contacted At</th>
      <th>Active Port</th>
      <th>Uptime</th>
    </thead>
  </tr>
  </thead>
    <tbody>
      <tr ng-repeat="switch in switches">
        <td><span display-status-icon="switch.contacted_at">f</span></td>
        <td><a href="#/dashboard/{{switch.id}}">{{switch.name}}</a></td>
        <td></td>
        <td>{{switch.contacted_at}}</td>
        <td>{{switch.activePorts}} / {{switch.totalPorts}}</td>
        <td>{{switch.upTime}}</td>
      </tr>
    </tbody>
</table>
{{switches}}

