<div class="container" layout="column" layout-align="center center" flex="noshrink" layout-margin>
  <div class="login text-color" md-whiteframe="5">
    <h1 class="text-color">Log In</h1>
    <form>
      <div class="input-group">
        <input type="email" class="form-control" placeholder="Email" ng-model="user.email">
      </div>
      <div class="input-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
      </div>
      <div layout="row">
        <a href="#/register" class="text-color">Don't han an account? Sign up here!</a>
        <div flex></div>
        <md-button ng-click="login()" class="md-primary md-raised" value="Log In">Log In</md-button>
      </div>
    </form>
  </div>
</div>
