<md-dialog ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 style="color:white">Add a switch</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>IP address:</label>
          <input ng-model="newSwitch.ipaddress">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>User Name:</label>
          <input ng-model="newSwitch.user_name">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Switch  SSH Password:</label>
          <input ng-model="newSwitch.switch_password">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Switch Enable Password:</label>
          <input ng-model="newSwitch.community">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Switch Community Password:</label>
          <input ng-model="newSwitch.enable_password">
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="answer()">
        Cancel
      </md-button>
      <md-button ng-click="answer(newSwitch)" style="margin-right:20px;">
        Add Switch
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
