<div class="container" layout="column" layout-align="center center" flex="noshrink" layout-margin>
  <div class="login" md-whiteframe="5">
    <h1 class="text-color">Register</h1>
    <form>
      <div class="input-group">
        <input type="email" class="form-control" placeholder="Email" ng-model="user.email">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Full Name" ng-model="user.full_name">
      </div>
      <div class="input-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
      </div>
      <div class="input-group">
        <input type="password" class="form-control" placeholder="Confirmation">
      </div>
      <div layout="row">
        <a href="#/login" class="text-color">Already have an account?</a>
        <div flex></div>
        <md-button ng-click="register()" class="md-primary md-raised" value="Register">Register</md-button>
      </div>
    </form>
  </div>
</div>
