<div layout="row" class="status-heading">
  <div layout="column">
  <table class="breadcrumb" flex="15">
    <tbody>
      <tr>
        <td>
          <a href="#/dashboard">Switches</a>
        </td>
        <td>
          <md-icon id="chev-right">chevron_right</md-icon>
        </td>
        <td>
          <span display-status-icon="switchData.contactedAt"></span>
        </td>
        <td>
          <h2 class='md-display-1'>{{switchData.name}}</h2>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <span flex></span>
  <div layout="column" layout-align="start">
    <md-progress-circular md-mode='indeterminate' ng-hide="loaded" class="md-hue-2" md-diameter="55em"></md-progress-circular>
  </div>
</div>

<div ng-switch="moduleState" layout="row">
  <div ng-switch-when="link">
    <table class="section-table">
      <tbody>
        <tr>
          <td>
            <h2 >
              Configuration&nbsp&nbsp| 
            </h2>
          </td>
          <td>
            <a href="" ng-click="revealConfigure()">
              Edit Configuration
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Serial:
          </td>
          <td>
            {{switchData.serial}}
          </td>
        </tr>
        <tr>
          <td>
            LAN IP:
          </td>
          <td>
            {{switchData.ipAddress}}
          </td>
        </tr>
        <tr ng-show="switchData.notes">
          <td>Notes:</td>
          <td>{{switchData.notes}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-switch-when="configure">
    <table class="section-table">
      <tbody>
        <tr>
          <td>
            <h2 id="h-line">
              Configuration
            </h2>
          </td>
        </tr>
        <tr>
          <td>
              Name:
          </td>
          <td>
            <input style="display: inline-block" ng-model="switchInfo.name">
          </td>
        </tr>
        <tr>
          <td>
            Remove:
          </td>
          <td>
            <md-button ng-click="showAdvanced()" style="margin:auto" class="md-primary md-raised">
              Remove from Inventory
            </md-button>
          </td>
        </tr>
        <tr>
          <td>
            Serial:
          </td>
          <td>
            {{switchData.serial}}
          </td>
        </tr>
        <tr>
          <td>
            LAN IP:
          </td>
          <td>
           {{switchData.ipAddress}}
          </td>
        </tr>
        <tr>
          <td>
            Notes:
          </td>
          <td>
            <textarea ng-model="switchInfo.notes" placeholder="" rows="7" id="note-area">
            </textarea>
          </td>
        </tr>
        <tr>
          <td layout="row" class="action">
            <md-button class="md-primary md-raised" ng-click="disappearConfigure()">Back</md-button>
            <md-button ng-click="saveInfo()" class="md-primary md-raised">Save</md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<h2 class='subhead'>Ports</h2>
<div>
  <port-icon port-num="12"></port-icon>
</div>
<table class="info-table">
  <tr>
    <thead>
      <th>Status</th>
      <th>Action</th>
      <th>Port Name</th>
      <th>Mac Address</th>
      <th>Received Bytes</th>
      <th>Sent Bytes</th>
    </thead>
  </tr>
  <tbody>
    <tr ng-repeat="port in switchData.ports">
      <td>{{port.status}}</td>
      <td></td>
      <td>{{port.port_name}}</td>
      <td>{{port.mac_address}}</td>
      <td>{{port.input}}</td>
      <td>{{port.output}}</td>
    </tr>
  </tbody>
</table> 
{{switchData}}
{{ports}}


