<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop="" md-whiteframe="4">

    <md-button ng-click="close()" class="md-primary" hide-gt-md="">
      Close Sidenav Left
    </md-button>
    <md-list>
      <md-item>
        <a href="#" class="text-color side-nav">
          <md-item-content layout="row" layout-align="start center">
            <div class="inset">
              <md-icon>storage</md-icon>
            </div>
            <div class="inset">
              Switches
            </div>
          </md-item-content>
        </a>
      </md-item>
      <md-divider></md-divider>
      <md-item>
        <a href="#" class="text-color side-nav">
          <md-item-content layout="row" layout-align="start center">
            <div class="inset">
              <md-icon>help_outline</md-icon>
            </div>
            <div class="inset">
              Help
            </div>
          </md-item-content>
        </a>
      </md-item>
      <md-divider></md-divider>
    </md-list>

</md-sidenav>

